# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment
venv/
env/

# Ignore the parked folder
parked/
database/

*.xlsx

# Ignore some data sets
SPX500_M5.csv
SPX500_M15_10_years.csv
SPX500_M30.csv
SPX500_hourly.csv
BTC_M15.csv
GBP_AUD_H1.csv
GBP_CHF_H1.csv
GBP_JPY_M15.csv
GBP_JPY_H1.csv
GBP_JPY_H1_20_years.csv
GBP_USD_M15.csv
GBP_USD_H1.csv
EUR_USD_M15.csv
EUR_USD_H1.csv
EUR_GBP_H1.csv
EUR_JPY_M15.csv
EUR_JPY_H1.csv
TRY_JPY_H1.csv
USD_JPY_H1.csv
NAS100_M15.csv
NAS100_M15_10_years.csv
US30_M15.csv
US2000_M15.csv
WTICO_USD_M15.csv
XAU_USD_M15.csv
XAU_USD_H1.csv
trades.csv
result.csv

*20_years*

# Ignore my own offline versions of backtests
*personal*

# Ignore any plots
plot.png